# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml

# Build outputs
dist/
build/
.next/
out/

# Env files
.env
.env.local
.env.development
.env.production
.env.test

# Prisma
prisma/dev.db
prisma/dev.sqlite

# VSCode
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Docker
pgdata/
